!!! 5
%html
  %head
    %meta{ charset: "utf-8" }
    %title The page you were looking for doesn't exist (404)
    :css
      body { background-color: #fff; color: #666; text-align: center; font-family: arial, sans-serif; }
      div.dialog {
        width: 25em;
        padding: 0 4em;
        margin: 4em auto 0 auto;
        border: 1px solid #ccc;
        border-right-color: #999;
        border-bottom-color: #999;
      }
      h1 { font-size: 100%; color: #f00; line-height: 1.5em; }
  %body
    / This file lives in themes/default/views/404.haml
    %div.dialog
      %h1 The page you were looking for doesn't exist.
      %p You may have mistyped the address or the page may have moved.
