%aside#featured.body
  %article
    %figure
      %img{ :src => "/images/sm-logo.gif", :alt => "Smashing Magazine" }
    %hgroup
      %h2 Featured Article
      %h3
        %a{ :href => "/articles/How_to_Win_Friends_and_Influence_People" } How to Win Friends and Influence People
    %p
      One of the first bestselling self-help books ever published. Written by Dale Carnegie and first published in 1937, it has sold 15 million copies globally.

%section#content.body
  %ol#posts-list
    %li
      %article.hentry
        %header
          %h2.entry-title
            %a{ :href => "#", :rel => "bookmark", :title => "Permalink to this POST TITLE" }
              This be the title
        %footer.post-info
          %abbr.published{ :title => "2005-10-10T14:07:00-07:00" }
            / YYYYMMDDThh:mm:ss+ZZZZ
            10th October 2005
          %address.author
            By
            %a{ :href => "#" } Enrique Ramírez
        %div.entry-content
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis nunc vitae libero iaculis elementum. Nullam et justo 
            %a{ :href => "#" } non sapien
            dapibus blandit nec et leo. Ut ut malesuada tellus.

    %li
      %article.hentry
        %header
          %h2.entry-title
            %a{ :href => "#", :rel => "bookmark", :title => "Permalink to this POST TITLE" }
              This be the title
        %footer.post-info
          %abbr.published{ :title => "2005-10-10T14:07:00-07:00" }
            / YYYYMMDDThh:mm:ss+ZZZZ
            10th October 2005
          %address.author
            By
            %a{ :href => "#" } Enrique Ramírez
        %div.entry-content
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis nunc vitae libero iaculis elementum. Nullam et justo 
            %a{ :href => "#" } non sapien
            dapibus blandit nec et leo. Ut ut malesuada tellus.

    %li
      %article.hentry
        %header
          %h2.entry-title
            %a{ :href => "#", :rel => "bookmark", :title => "Permalink to this POST TITLE" }
              This be the title
        %footer.post-info
          %abbr.published{ :title => "2005-10-10T14:07:00-07:00" }
            / YYYYMMDDThh:mm:ss+ZZZZ
            10th October 2005
          %address.author
            By
            %a{ :href => "#" } Enrique Ramírez
        %div.entry-content
          %p
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque venenatis nunc vitae libero iaculis elementum. Nullam et justo 
            %a{ :href => "#" } non sapien
            dapibus blandit nec et leo. Ut ut malesuada tellus.

%section#extras.body
  %div.blogroll
    %h2 blogroll
    %ul
      %li
        %a{ :href => "#", :rel => "external" } HTML5 Doctor
      %li
        %a{ :href => "#", :rel => "external" } HTML5 Spec (working draft)
      %li
        %a{ :href => "#", :rel => "external" } Smashing Magazine

      %li
        %a{ :href => "#", :rel => "external" } W3C
      %li
        %a{ :href => "#", :rel => "external" } Wordpress
      %li
        %a{ :href => "#", :rel => "external" } Wikipedia

      %li
        %a{ :href => "#", :rel => "external" } HTML5 Doctor
      %li
        %a{ :href => "#", :rel => "external" } HTML5 Spec (working draft)
      %li
        %a{ :href => "#", :rel => "external" } Smashing Magazine

      %li
        %a{ :href => "#", :rel => "external" } W3C
      %li
        %a{ :href => "#", :rel => "external" } Wordpress
      %li
        %a{ :href => "#", :rel => "external" } Wikipedia

      %li
        %a{ :href => "#", :rel => "external" } HTML5 Doctor
      %li
        %a{ :href => "#", :rel => "external" } HTML5 Spec (working draft)
      %li
        %a{ :href => "#", :rel => "external" } Smashing Magazine

      %li
        %a{ :href => "#", :rel => "external" } W3C
      %li
        %a{ :href => "#", :rel => "external" } Wordpress
      %li
        %a{ :href => "#", :rel => "external" } Wikipedia
  %div.social
    %h2 social
    %ul
      %li
        %a{ :href => "http://delicious.com/enrique_ramirez", :rel => "me" } delicious
      %li
        %a{ :href => "http://digg.com/users/enriqueramirez", :rel => "me" } digg
      %li
        %a{ :href => "http://facebook.com/enrique.ramirez.velez", :rel => "me" } facebook

      %li
        %a{ :href => "http://www.lastfm.es/user/enrique-ramirez", :rel => "me" } last.fm
      %li
        %a{ :href => "http://website.com/feed/", :rel => "me" } rss
      %li
        %a{ :href => "http://twitter.com/enrique_ramirez", :rel => "me" } twitter
