!!!5
%html
  %head
    %meta{ :charset => "utf-8" }
    %title
      #{@content_page.title rescue "404"} - The Official Mango Handbook

    %link{ :rel => "stylesheet", :href => "/styles/screen.css", :type => "text/css" }

    / Include a shiv so that we can style HTML5 elements in IE.
    / http://remysharp.com/2009/01/07/html5-enabling-script/
    /[if IE]
      %script{ :src => "http://html5shiv.googlecode.com/svn/trunk/html5.js" }

    /[if lt IE 7]
      %link{ :rel => "stylesheet", :type => "text/css", :media => "all", :href => "/styles/ie6.css" }

  %body#index.home
    %header#banner.body
      %h1
        %a{ :href => "/" }
          Mango
          %strong
            Content management in the year
            %del 2022
            %ins 2010
      %nav
        %ul
          -# TODO need to refactor this repeatable pattern
          - if @request.path_info == "/getting_started"
            %li.active
              %a{ :href => "/getting_started" } Getting Started
          - else
            %li
              %a{ :href => "/getting_started" } Getting Started

          - if @request.path_info == "/documentation"
            %li.active
              %a{ :href => "/documentation" } Documentation
          - else
            %li
              %a{ :href => "/documentation" } Documentation

          - if @request.path_info == "/contribute"
            %li.active
              %a{ :href => "/contribute" } Contribute
          - else
            %li
              %a{ :href => "/contribute" } Contribute

          - if @request.path_info == "/about"
            %li.active
              %a{ :href => "/about" } About
          - else
            %li
              %a{ :href => "/about" } About

      = yield

      %footer#contentinfo.body
        %address#about.body
          %span.primary
            %strong
              %a{ :href => "#" } Smashing Magazine
            %span Amazing Magazine

          %img.photo{ :src => "/images/avatar.gif", :alt => "Smashing Magazine Logo" }
          %span.bio
            Smashing Magazine is a website and blog that offers resources and advice to web developers and web designers. It was founded by Sven Lennartz and Vitaly Friedman.

        %div#license.body
          %a{ :rel => "license", :href => "http://creativecommons.org/licenses/by/3.0/" }
            %img{ :alt => "Creative Commons License", :src => "/images/cc-attrib-3.0-unported.png" }
          %p
            Except where otherwise noted, all content on this site is licensed under a
            %br
            %a{ :rel => "license", :href => "http://creativecommons.org/licenses/by/3.0/" } Creative Commons Attribution 3.0 Unported License
            by
            %a{ :href => "http://ryansobol.com" } Ryan Sobol
